.lotterylabels
  Use this simulation to simulate fantasy basketball lineups for a chosen game.  You can create an account at
  %a{:href => "http://www.fanduel.com", :style => "color: #CC0000"} Fanduel
  to play each week. Come back in fall of 2015 for next season!