.lotterylabels
  Use this simulation to simulate fantasy football lineups for the current week.  You can create an account at
  %a{:href => "http://www.fanduel.com)", :style => "color: #CC0000"} Fanduel
  to play each week. Then, you can use the tool below
  to create optimal lineups for the current week to save you time in coming up with your own.  These lineups will optimize
  the salary cap and fppg to give you some decent options to work with.  Injured players and questionable statuses will
  NOT be included.  Players with a 'P' at the end of their name were on the injury report but are probable. Salary max limit is $60,000.
  %br/
  Let's generate a Week 6 NFL lineup (10/12/14) with a projected FFPG > 90 points. Or, you can submit a URL for the game
  you want to simulate.  Example :
  %a{:href => "https://www.fanduel.com/e/Game/10687?tableId=6084270&fromLobby=true", :style => "color: #CC0000"} https://www.fanduel.com/e/Game/10648?tableId=5906836&fromLobby=true
  %p
    %br/
    Try entering your own URL:
    = text_field_tag(:my_url, nil, maxlength: 96, size: 96, :id => 'my_url')
    %br/
    %br/
    = link_to @lineup_msg, players_fantasyresults_path, :remote => true , :id => "simlineup" , :class => "btn btn-primary" , method: :post
  #simlineupmsg
  #simlineupresult
