/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.ui.all
 *= require_self
 *= require_tree .
 */
#banner {
  background: #9c9;
  padding: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #282;
  text-align: center;

  img {
    float: left;
  }
}
#main {
  margin-left: 20em;
  padding: 1em;
  background: white;
}
#bag {
  float: left;
  padding-top: 2em;
}
#bag:hover {
  cursor: pointer;
}
#cssmenu {
  float: left;
  width: 100;
}
#cssmenu ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
#cssmenu li a {
  height: 32px;
  height: 24px;
  text-decoration: none;
  font-weight: normal;
}
#cssmenu li a:link,
#cssmenu li a:visited {
  color: #5E7830;
  display: block;
  background: url(asset-path('menu1.gif'));
  background-repeat: no-repeat;
  padding: 8px 0 0 10px;
}
#cssmenu li a:hover {
  color: #26370A;
  background: url(asset-path('menu1.gif')) 0 -32px;
  background-repeat: no-repeat;
  padding: 8px 0 0 10px;
}
#cssmenu li a:active {
  color: #26370A;
  background: url(asset-path('menu1.gif')) 0 -64px;
  background-repeat: no-repeat;
  padding: 8px 0 0 10px;
}
.lotterylabels
{
text-shadow:1px 1px 0 rgba(214,214,214,1);
font-weight:normal;
color:#030408;
letter-spacing:1pt;
word-spacing:2pt;
font-size:16px;
text-align:left;
font-family:lucida sans unicode, lucida grande, sans-serif;
line-height:2;
}

