<div class="lotterylabels">
It's time to have some fun flipping a coin!  Enter the number of times you want to flip the coin.  Information about
your simulation will be displayed.  You may find the longest streak of either heads or tails to be interesting.  This
is important when considering betting schemes like the Martingale system where one doubles their bet each time with the
expectation that a win will eventually occur.  You may be surprised that streaks are all too common and can quickly wipe
out all of your money.
</div>