<div class="lotterylabels">
Welcome to the lottery and chance simulator!
<br>
The goal behind this site is to simulate chance events for the lottery
and other types of events.  Try playing some of the games to get an idea how long it takes for your number to come up.
</div>