<div class="lotterylabels">
  You have chosen to play the lottery daily until <%= (params[:pickdate]) %>.
  This will be played for <%= number_of_days_to_play(params[:recorded]) %> days.
</div>
<br/>
<h1>Params:</h1>
<%= params.inspect %>